.diagramsPanel {
  width:100%;
  white-space:nowrap;
}

.diagramDiv {
  border: 2px solid lightgreen;
  /*border-left: 4px solid lightgreen;*/
  display: inline-block;
  vertical-align: top;
  width: 84%;
  height: 550px;
}

.paletteDiv {
  border: 2px solid lightgreen;
  display: inline-block;
  vertical-align: top;
  width: 13%;
  height: 550px;
  /*padding-top: 100px;*/
}